@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvp@example.com";
            WebMail.Send("party-host@example.com", "RSVP Notification", Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not") + "attenting");
        }
        catch(Exception)
        {
            @:<b>Извините, мы не можем отправить по почте Ваше подтверждение на приглашение.</b>
        }
    }
    <div> 
        <h1>Спасибо Вам, @Model.Name!</h1>
        @if(Model.WillAttend == true)
        {
            @:Очень хорошо, что Вы придете. Напитки уже в холодильнике!
        }
        else
        {
            @:Жаль, что Вы не сможете сделать это, но спасибо, что сообщили.
        }
    </div>
</body>
</html>
